/* Center content horizontally */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-md);
}

.page-content {
  padding: 1em;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  &.--horizontal {
    flex-direction: row;
  }

  &.--fit {
    width: fit-content;
  }

  &.--inline {
    display: inline-flex;
  }

  &.--centered {
    justify-content: center;
    align-items: center;
  }
}

.docker {
  position: relative;

  & > * {
    position: absolute;
  }

  &.--bottom {
    bottom: 0;
  }
}



